/* Custom properties */
:root {
    /* Colors */
    --primary-color: rgb(122, 0, 146);
    --secondary-color: rgb(255, 255, 96);
    --neutral-color: rgb(249, 246, 250);

    --type-light: rgb(253, 253, 194);
    --type-dark: rgb(81, 42, 94);

    /* Spacing */
    --padding-1: 0.5rem 2rem;

    /* Fonts */
    --sans-serif: Verdana, Arial, sans-serif;
    --serif: "Georgia", Times, serif;
}


/* Box-sizing on all elements and pseudo-elements */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Default margins set to 0 on elements */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0;
}

/* Smooth scrolling except when searching in-page */
html:focus-within {
    scroll-behavior: smooth;
}
  
/* This change is specifically to reset list-style on explicitly defined lists.  Removing list-style on non-explicit lists can result in accessibility issues for screen readers */
ul[role='list'], ol[role='list'] {
    list-style: none;
}
  
/* Link underlines for non-classed 'a' elements will not cross over glyph ascenders and descenders */
a:not([class]) {
    text-decoration-skip-ink: auto;
}
  
/* Block eliminates the empty space at the bottom of an image, and max-width prevents image from spilling out of bounds */
img, picture {
    max-width: 100%;
    display: block;
}
  
/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
    font: inherit;
}
  
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    
    html:focus-within {
        scroll-behavior: auto;
    }

    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* Utility classes */
.center-bound {
    max-width: 1080px;
    margin: 0 auto;
}


/* Body, container, and main canvas elements.  Set default body height to fill viewport, and prevent loading issues that can occur with text-rendering: optimizeLegibility.  Increased line-height helps readability. */
body {
    min-height: 100vh;

    background-color: var(--neutral-color);

    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

/* Header and top Navigation */
header {
    padding: 0.25em 0.25em;

    background-color: var(--primary-color);
    color: var(--type-light);

    line-height: 1.25;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-logo {
    display: inline;
    height: 2rem;
    padding-left: 0.75rem;
}

.nav-title {
    display: inline;
    flex: 2 0 auto;
    padding-left: 0.75em;

    font-family: var(--serif);
    font-size: 1.5em;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    flex: 0 2 auto;

    padding: 0 0.75rem;
    margin-left: auto;

    font-family: var(--sans-serif);
    text-transform: uppercase;
    line-height: 0.5;
}

.nav-list li {
    flex: 1 0 auto;
    text-align: center;

    font-size: 0.75em;

    cursor: pointer;
}


/* Main Content */
main {
    margin-top: -5px;

    color: var(--type-dark);
}

.main-hero {
    position: relative;
}

.main-hero-text {
    position: absolute;
    right: 0;
    top: 15%;
    padding-right: 1em;
    min-width: 65%;

    text-align: right;
    font-family: var(--serif);
    font-size: 7vw;
}

.main-article {
    position: relative;
    padding: 1em 1em 2em 1em;

    color: var(--type-dark);
}

.main-article h1 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    
    font-family: var(--serif);
    font-size: 1.75em;
}

.main-article h2 {
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;

    font-family: var(--serif);
    font-size: 1.4em;
}

.main-article h3 {
    padding-bottom: 0.25em;

    font-family: var(--sans-serif);
    font-size: 0.9em;
    text-transform: uppercase;
}

.main-article p {
    padding-bottom: 1rem;

    font-family: var(--sans-serif)
}

.main-article ul,
.main-article ol {
    margin: 0;
    padding-bottom: 0.5rem;

    font-family: var(--sans-serif)
}

.main-article code {
    background-color: var(--type-light);
    padding: 2px 4px;
}


/* Icons */
.main-iconContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    padding: 1em 1em 2em 1em;
}

.main-iconContainer div {
    flex: 1 1 auto;
}


@media (min-width: 1600px) {
    
    .main-hero-text {
        font-size: 6rem;
    }
}