/* Custom properties */
:root
{
    /* Colors */
    --primary-color: rgb(122, 0, 146);
    --secondary-color: rgb(255, 255, 96);
    --neutral-color: rgb(240, 240, 240);

    --type-light: rgb(253, 253, 194);
    --type-dark: rgb(81, 42, 94);

    /* Spacing */
    --padding-1: 0.5rem 2rem;


    /* Fonts */
}


/* Box-sizing on all elements and pseudo-elements */
*, *::before, *::after 
{
    box-sizing: border-box;
}

/* Default margins set to 0 on elements */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd 
{
    margin: 0;
}

/* Smooth scrolling except when searching in-page */
html:focus-within 
{
    scroll-behavior: smooth;
}
  
/* This change is specifically to reset list-style on explicitly defined lists.  Removing list-style on non-explicit lists can result in accessibility issues for screen readers */
ul[role='list'], ol[role='list'] 
{
    list-style: none;
}
  
/* Link underlines for non-classed 'a' elements will not cross over glyph ascenders and descenders */
a:not([class]) 
{
    text-decoration-skip-ink: auto;
}
  
/* Block eliminates the empty space at the bottom of an image, and max-width prevents image from spilling out of bounds */
img, picture 
{
    max-width: 100%;
    display: block;
}
  
/* Inherit fonts for inputs and buttons */
input, button, textarea, select 
{
    font: inherit;
}
  
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) 
{
    html:focus-within 
    {
        scroll-behavior: auto;
    }

    *, *::before, *::after 
    {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* Base-level body and header styles, font and background colors, basic element styles */

/* Set default body height to fill viewport, and prevent loading issues that can occur with text-rendering: optimizeLegibility.  Increased line-height helps readability. */
body 
{
    min-height: 100vh;

    background-color: var(--neutral-color);

    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

header
{
    padding: var(--padding-1);

    background-color: var(--primary-color);
    color: var(--type-light);

    line-height: 1.25;
}




/* Navigation */
.nav-title
{
    font-size: 2em;
}

.nav-list
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    padding: 0;

    text-transform: uppercase;
}

.nav-list li
{
    flex: 0 1 auto;
    text-align: center;

    cursor: pointer;
}

/* Main Content */
main
{
    padding: var(--padding-1);

    color: var(--type-dark);
}

.main-article-markdown
{
    padding-top: 1em;
    padding-bottom: 2em;
}

.main-article-markdown h1
{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.main-article-markdown h2
{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.main-article-markdown p
{
    padding-bottom: 1em;
}

.main-article-markdown ul,
.main-article-markdown ol {
    margin: 0;
}


/* Icons */
.iconContainer
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.iconContainer div
{
    flex: 1 1 auto;
}

/* Utility classes */

.center-bound
{
    max-width: 1080px;
    margin: 0 auto;
}